<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ITEMS</title>
  <style>
    th, td{
      border: 2px solid black;
    }
  </style>
</head>
<body>
  <div>
    <table style="border: 5px solid black;">
      <tbody>
        <tr>
          <th>Category</th>
          <th>ITEM NAME</th>
          <th>QUANTITY</th>
        </tr>
        
        {% for instance in querySet%}
          <tr>
            <td>{{ instance.category }}</td>
            <td>{{ instance.item_name}}</td>
            <td>{{ instance.quantity}}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
   
</body>
</html>